# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_output.txt

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode/ directory contains internal settings for Visual Studio Code.
# It is excluded by default but may be useful to check in for some projects.
# .vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Executable distributions
*.apk
*.aab
*.ex_
*.ipa

# Android Studio will regenerate this file .
android/key.properties

# Files for the Google service plugin
google-services.json

# Environment variables
.env
analyze_output.txt
